h1
{
	color: white;
}
h2
{
	color: white;
}
h3
{
	color: white;
}
h4
{
	color: white
}
h5
{
	color: white
}


@font-face {
    font-family: 'caligna_demoregular';
    src: url('font/calignademo-webfont.woff2') format('woff2'),
         url('font/calignademo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'caligna_demoregular';
	justify-content: center;
	align-items: center;
	font-size: 15px;
	background-color: black
}

#carte
{

	width: 800px;<
	margin:0 auto;
	background-color: black
	text-align: center;
	align-content: center;
}

ul li
{list-style-type: none
}
